*{
    padding: 0;
    margin: 0;
}

/*header*/

header{
    background-image: url(../img/background5.jpg);
    background-image: cover;
    width: 100%;
    text-align: center;
    padding-top: 2em;
}

img{
    align-items: center;
    padding: 1em;
}

h1, h2{
    color:  white;
    background-color: #0780af;
    padding: 0.3em;
    letter-spacing: 0.2rem;
}

.foto{
    width: 130px;
    border-radius: 40%;
}

.menu li{
    padding: 0.5em;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-around;
    color: #034159;
    font-weight: bold;
    background-color: hsl(202, 44%, 90%) ;
}

.menu a{
    text-decoration: none;
    color: #034159;
}

/*main*/

main{
    background-color: hsl(202, 44%, 90%);
    width: 100%;
}

/*sección 1*/

.section1{
    color: #034159;
    margin-top: 5em;
}

.section1 nav{
    line-height: 1.5em;
    padding: 1em;
    padding-left: 2.5em;
}

.subtitle{
    font-weight: bold;
    font-style: italic;
}

/*seccion 2*/

.section2 nav{
    padding: 1.5em;
    color: #034159;
}

.formacion{
    padding-bottom: 0.5em;
    display: flex;
}

.section2 span{
    font-weight: bold;
}

.section2 p{
    padding-left: 0.3em;
}

/*seccion 3*/

.section3 nav{
    color: #034159;
    padding-top: 1.5em;
}

.section3 li{
    padding-bottom: 1em;
}

.experiencia{
    display: flex;
    padding-left: 1.5em;
}

.experiencia p{
    padding-left:0.3em;
}

.experiencia span{
    font-weight: bold;
    width: 115.54px;
}

.section3{
    margin-bottom: 5em;
}

/*footer*/

.footer{
    background-color: #005677;
    color: white;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.footer a{
    color: white;
    text-decoration: none;
}


